<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
  <h1>Editing Climb</h1>
  <hr>
  <h3><%= @climb.wall.name.capitalize+": "+@climb.color+" "+@climb.grade+", set by "+@climb.setter_name||=@climb.setter.full_name %></h3>
</div>

<%= render 'climbs/form' %>