<div class="container">
  <p id="notice"><%= notice %></p>	
  <h1>New Climb</h1>
  <hr>

  <p>Wall: <%= @wall.name %><p>

  <%= render 'form' %>

  <hr>
  <%= link_to "Back to Wall", wall_path(@wall), class: "btn btn-primary" %>
</div>



