<% provide(:title, "Welcome") %>
<div class="jumbotron">
	<div class="container">
		<div class="col-md-6 col-md-offset-3 text-center">
			<h1>Welcome!</h1>
			<hr>
			<% unless current_user %>
			  <%= link_to "Sign Up Now", signup_path, class: 'btn btn-lg btn-default' %>
			  <%= link_to "Log In", login_path, class: 'btn btn-lg btn-info' %>
			<% end %>
			<%= link_to "Browse Routes", gyms_path, class: 'btn btn-lg btn-primary' %>
		</div>
	</div>
</div>

<div>
	Flatiron School! Welcome to the sample version of my climbing route database. The purpose of this website is to log and track climbing routes in the gyms throughout New York City. Click below to log in and browse the application as either a user or an administrator.

	Browse the site as a user.

	Browse as an administrator.
</div>
