<h3>Archived Climbs</h3>
<% archived_climbs.each do |climb| %>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-default" style="border: 1px solid <%= climb.color %>">
      <div class="panel-heading">
        <div class="row">
          <%= link_to climb.grade+" "+climb.color.capitalize, climb %>
        </div>
      </div>
      <div class="panel body">
          <p>Setter: <%= climb.setter_name %></p>
          <p>Type: <%= climb.climb_type %></p>
      </div>
    </div>
  </div>
<% end %>