<div class="container">
	<h1>Editing Wall</h1>
	<hr>

	<%= render 'form' %>

	<hr>

	<%= link_to 'Back to Gym', gym_path(@gym||=@wall.gym), class: "btn btn-primary" %>
	<%= link_to "Edit Preferred Grade Spread", change_spread_wall_path(@wall), class: "btn btn-info" if current_user && current_user.admin? %>
</div>