/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
}

div.field_with_errors {
  display: inline;
}

/* main image on wall page, centers within div..should have one for portrait and one for landscape.. */

#wall_display_image {
    display: inline-block;
    width: 100%;
    height: 250px;
    margin: 5px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.walls_thumbnails {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: 150px;
  margin: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }
}

.gyms_thumbnails {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: 300px;
  margin: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }
}

/* below: new pull-size-direction classes for varying screen sizes */

@media (max-width: $screen-xs-max) {
    .pull-xs-left {
        float: left;
    }
    .pull-xs-right {
        float: right;
    }
    .pull-xs-center {
        text-align: center;
        margin: auto;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .pull-sm-left {
        float: left;
    }
    .pull-sm-right {
        float: right;
    }
    .pull-sm-center {
        text-align: center;
        margin: auto;
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .pull-md-left {
        float: left;
    }
    .pull-md-right {
        float: right;
    }
    .pull-md-center {
        text-align: center;
        margin: auto;
    }
}

@media (min-width: $screen-lg-min) {
    .pull-lg-left {
        float: left;
    }
    .pull-lg-right {
        float: right;
    }
    .pull-lg-center {
        text-align: center;
        margin: auto;
    }
}

/*climb tags within wall page*/

.panel-default {
  border-radius: 5px;

}

.panel-color {
  border-bottom: 1px solid #DDDDDD;
  height: 13px;
  opacity: .75;
}

.btn {
  margin-bottom: 5px;
}

/* anchor markup to make full containing div clickable */

a.climb-link {
  text-decoration: none;
  color: #232a2b;

  .panel-heading {
    background-color: #f4f4f4;
  }
}

.btn-default {
  background-color: #f4f4f4
}

btn-default:hover { 
  background-color: #d4d4d4
}

#main-flash {
  position: fixed;
  z-index: 1039;
  top: 60px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

#new-climb-flash {
  height: 40px;
  #flash-messages {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 90%
  }
}

.jumbotron {
    background: url(asset-path('9920706004_31900953fa_o-1000x400.jpg')) center center;
    color: white;
    background-size: 100% 100%;
}

/* font awesome color styling */

.fa-plus {
  color: green;
}

.fa-trash {
  color: red;
}

.fa-bar-chart {
  color: #0044cc;
}

.fa-refresh {
  color: orange;
}

#sample-instructions {
  overflow: auto;
  background: -webkit-linear-gradient(#ffffff, #eeeeee); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffffff, #eeeeee); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffffff, #eeeeee); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffffff, #eeeeee); /* Standard syntax */
  p, li {
    text-align: left;
  }
}

.sample-toggle-closed {
  z-index: 5;
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  width: 60px;
  margin: auto;
  background-color: #eeeeee;
  border-radius: 0px 0px 10px 10px;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  box-shadow: 0px 3px 8px #6d6b6b, inset 0px 2px 3px #fff;
  &:hover {
    text-decoration: none;
    color: #555;
    background: #f5f5f5;
  }
}

.sample-toggle-open {
  z-index: 5;
  left:0;
  right:0;
  position: absolute;
  margin-left:auto;
  margin-right:auto;
  margin: auto;
  width: 60px;
  background-color: #eeeeee;
  border-radius: 0px 0px 10px 10px;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  box-shadow: 0px 3px 8px #6d6b6b, inset 0px 2px 3px #fff;
  &:hover {
    text-decoration: none;
    color: #555;
    background: #f5f5f5;
  }
}

#sample-toggle:hover {
  cursor: pointer;
}


